$montserrat: "Montserrat";
$rubik: "Rubik";

@font-face {
  font-family: $montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: $rubik;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik Regular"), local("Rubik-Regular"), url("/assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}
