@keyframes pulse {
    0% {
      background: $color;
      transform: scale(1);
    }

    25% {
      background: darken($color, 10%);
      transform: scale(1.015);
    }

    50% {
      background: $color;
      transform: scale(1);
    }
  }
