@charset "utf-8";
@import "normalize";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik');

html,
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  main.profile {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 700;
      margin-top: 0.67em;
      margin-bottom: 0;
    }

    h2 {
      font-size: 18px;
      font-weight: normal;
    }

    p {
      max-width: 350px;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2em;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        -webkit-text-decoration-style: initial;
        text-decoration-style: initial;
        -webkit-text-decoration-color: initial;
        text-decoration-color: initial;

        &:hover {
          color: #595959;
        }
      }
    }

    .social {
      a {
        color: $color;

        &:hover {
          color: darken($color, 10%);
        }
      }
    }
  }
}
