:root {
  --bg-color: #0d1117;
  --font-color: #c9d1d9;
  --color-primary: #2ecc71;
  --bg-secondary-color: hsla(215, 8%, 47%, 0.4);
  --font-family-sans: 'Inter', 'Segoe UI', 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-size: 16px;
}

$size-sm: 768px;
$size-lg: 1024px;

html {
  font-size: 1rem;
}

body {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media (min-width: $size-sm) {
    padding-top: 2.25rem;
  }
  @media (min-width: $size-sm) {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  @media (min-width: $size-lg) {
    padding-top: 3.5rem;
  }
  @media (min-width: $size-lg) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

header {
  img {
    height: 6rem;
    width: 6rem;
  }
}

.prose {
  max-width: 65ch;

  a[href^='#'] {
    color: inherit;
  }

  code {
    color: var(--font-color);
    padding: 0;
  }
}

.bounce {
  width: 1.5rem;
  height: 1.5rem;
  animation: fade-in 1s linear 1;
  z-index: -1;
  opacity: 0.2;

  @media (min-width: $size-sm) {
    opacity: 0.4;
  }

  @media (min-width: $size-lg) {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
