@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
  @apply hover:opacity-80;
  font-weight: inherit;
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a {
  @apply text-inherit hover:opacity-100;
}

.bounce {
  @apply w-6 h-6 -z-10 opacity-20 sm:opacity-40 lg:opacity-70 even:hidden lg:even:block motion-reduce:hidden;
  animation: fade-in 1s linear 1;
}

@keyframes fade-in {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}
