@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Rubik Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'JetBrains Mono Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* https://tailwindcss.com/docs/theme#sharing-across-projects */
  --color-white: #c9d1d9;
  --color-primary: #2ecc71;
  --color-secondary: hsla(215, 8%, 47%, 0.4);
  --color-background: #0d1117;

  --font-weight-inherit: 'inherit';

  --animate-fade-in: fade-in 1s linear 1;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.prose a {
  @apply hover:opacity-80;
}

.prose img {
  @apply w-72;
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a,
.prose h5 > a {
  @apply text-inherit hover:opacity-100;
}

.prose p:last-of-type > a {
  @apply inline-block;
}

.bounce {
  @apply w-6 h-6 -z-10 opacity-20 sm:opacity-40 lg:opacity-70 even:hidden lg:even:block motion-reduce:hidden animate-fade-in;
}

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-100;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}
